{% extends 'base.html.twig' %}


{% block body %}
<main>
<br>
    <h1 class="index">Bienvenue sur l'application PEP, le futur du programme d'entretien préventif !!</h1>
    <br>
        <ul>
            <li>
                <div>Utilisez l'onglet Consulter afin d'avoir accès aux tâches qui ont déjà été effectuées par le passé</div>
            </li>
            <br>
            <li>
                <div>Utilisez l'onglet Nouvelle Tâche afin de créer une nouvelle entrée</div>
            </li>
            <br>
            <li>
                <div>Vous pouvez consulter et éditer une liste de notes partagées entre tous les utilisateurs du restaurant</div>
            </li>
            <br>
            <li>
                <div>La To Do List vous offre la possibilité de planifier vos prochaines interventions</div>
            </li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<div class="endcatch">
Bonne navigation ! Et bon entretien préventif, les machines vous remercieront.
</div>
</main>

{% endblock %}

